<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link
            th:rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/font-awesome.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/styles.css}"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
    />
    <meta charset="ISO-8859-1"/>
    <title>Sign Up</title>
</head>

<body>
<section class="content hidden-overflow">
    <div class="row">
        <div class="col-6 coffee_mug_background">
            <div class="logo_left mt-3 pt-4 ms-5 pl-5">
                <h2 class="logo" style="color: white">
                    hotdevjobs <span class="logo_com">.com</span>
                </h2>
            </div>
        </div>
        <div class="col-6">
            <div style="margin-top: 5%;">
                <div>
                    <div class="d-flex justify-content-center mb-3">
                        <h1 class="heading_font font-weight-bold">
                            Create User Account
                        </h1>
                    </div>
                    <div class="myForm">
                        <form
                                th:action="@{/register/new}"
                                th:object="${user}"
                                method="post"
                        >
                            <div th:if="${error}" class="alert alert-danger mb-3" th:text="${error}"></div>

                            <div class="box-body bozero mx2p">
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group mb-2">
                                            <input
                                                    placeholder="First Name *"
                                                    id="firstName"
                                                    name="firstName"
                                                    th:value="${firstName}"
                                                    type="text"
                                                    class="form-control"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group mb-2">
                                            <input
                                                    placeholder="Last Name *"
                                                    id="lastName"
                                                    name="lastName"
                                                    th:value="${lastName}"
                                                    type="text"
                                                    class="form-control"
                                                    required
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-2">
                                            <input
                                                    placeholder="Email *"
                                                    name="email"
                                                    th:field="*{email}"
                                                    type="email"
                                                    style="width: 100%"
                                                    class="form-control"
                                                    required
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-2">
                                            <input
                                                    minlength="8"
                                                    placeholder="Password (min 8 chars) *"
                                                    name="password"
                                                    th:field="*{password}"
                                                    type="password"
                                                    class="form-control pwd"
                                                    required
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group mb-2">
                                            <input
                                                    placeholder="City"
                                                    id="city"
                                                    name="city"
                                                    th:value="${city}"
                                                    type="text"
                                                    class="form-control"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <div class="form-group mb-2">
                                            <input
                                                    placeholder="State"
                                                    id="state"
                                                    name="state"
                                                    th:value="${state}"
                                                    type="text"
                                                    class="form-control"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group mb-2">
                                            <input
                                                    placeholder="Country"
                                                    id="country"
                                                    name="country"
                                                    th:value="${country}"
                                                    type="text"
                                                    class="form-control"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group mb-2">
                                        <select
                                                required
                                                class="form-control"
                                                th:field="*{userTypeId}"
                                                id="userTypeIdSelect"
                                        >
                                            <th:block th:each="userType :${getAllTypes}">
                                                <option
                                                        th:text="${userType.userTypeName}"
                                                        th:value="${userType.userTypeId}"
                                                ></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>

                                <!-- Recruiter Specific Fields -->
                                <div id="recruiterFields" class="row" style="display: none;">
                                    <div class="col-md-12 form-group mb-2">
                                        <input
                                                placeholder="Company Name"
                                                id="company"
                                                name="company"
                                                th:value="${company}"
                                                type="text"
                                                class="form-control"
                                        />
                                    </div>
                                </div>

                                <!-- Job Seeker Specific Fields -->
                                <div id="jobSeekerFields" class="row" style="display: none;">
                                    <div class="col-md-6 pr-1 form-group mb-2">
                                        <select
                                                class="form-control"
                                                id="workAuthorization"
                                                name="workAuthorization"
                                                th:value="${workAuthorization}"
                                        >
                                            <option value="" th:selected="${workAuthorization == null || workAuthorization == ''}">Work Authorization</option>
                                            <option value="US Citizen" th:selected="${workAuthorization == 'US Citizen'}">US Citizen</option>
                                            <option value="Canadian Citizen" th:selected="${workAuthorization == 'Canadian Citizen'}">Canadian Citizen</option>
                                            <option value="Green Card" th:selected="${workAuthorization == 'Green Card'}">Green Card</option>
                                            <option value="H1 Visa" th:selected="${workAuthorization == 'H1 Visa'}">H1 Visa</option>
                                            <option value="TN Permit" th:selected="${workAuthorization == 'TN Permit'}">TN Permit</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 pl-1 form-group mb-2">
                                        <select
                                                class="form-control"
                                                id="employmentType"
                                                name="employmentType"
                                                th:value="${employmentType}"
                                        >
                                            <option value="" th:selected="${employmentType == null || employmentType == ''}">Seeking Employment</option>
                                            <option value="Full-Time" th:selected="${employmentType == 'Full-Time'}">Full-time</option>
                                            <option value="Part-Time" th:selected="${employmentType == 'Part-Time'}">Part-time</option>
                                            <option value="Freelance" th:selected="${employmentType == 'Freelance'}">Freelance</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="form-group mt-3 col-md-12">
                                        <button type="submit" class="myBtn py-3">Register Account</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function toggleRoleFields() {
        var select = document.getElementById("userTypeIdSelect");
        var recruiterDiv = document.getElementById("recruiterFields");
        var jobSeekerDiv = document.getElementById("jobSeekerFields");
        if (!select || !recruiterDiv || !jobSeekerDiv) return;

        var selectedValue = select.value;
        var selectedText = select.options[select.selectedIndex] ? select.options[select.selectedIndex].text.toLowerCase() : "";

        if (selectedValue === "1" || selectedText.includes("recruiter")) {
            recruiterDiv.style.display = "flex";
            jobSeekerDiv.style.display = "none";
        } else {
            recruiterDiv.style.display = "none";
            jobSeekerDiv.style.display = "flex";
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        var select = document.getElementById("userTypeIdSelect");
        if (select) {
            select.addEventListener("change", toggleRoleFields);
            toggleRoleFields();
        }
    });
</script>
</html>